@import "./../../styles/variables.scss";

#about {
  scroll-margin-top: 84px;
}

.about {
  padding: 60px 0;
  background-color: #f9f5f2;

  &__container {
    max-width: 1440px;
    margin: auto;
    padding: 0 90px;

    @media only screen and (min-width: 0) and (max-width: 767px) {
      padding: 0 20px;
    }
  }

  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 112px;

    @media only screen and (min-width: 0) and (max-width: 767px) {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 40px;
    }
  }

  &__blockBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;

    @media only screen and (min-width: 0) and (max-width: 767px) {
      overflow-x: auto;
      justify-content: flex-start;
      
      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }

  &__block_img {
    display: inline-flex;

    @media only screen and (min-width: 0) and (max-width: 767px) {
      height: auto;
      width: 100%;

      img {
        height: auto;
        width: 100%;
      }
    }
  }

  &__block_about {
    display: flex;
    gap: 80px;
    margin-bottom: 32px;

    @media only screen and (min-width: 0) and (max-width: 767px) {
      gap: 40px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__block_desc {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &--text,
    &--desc {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;

      @media only screen and (min-width: 0) and (max-width: 767px) {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }

  &__block_list {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media only screen and (min-width: 0) and (max-width: 767px) {
      margin-top: 32px;
    }

    &--title {
      font-size: 28px;
      font-weight: 500;
      line-height: 36px;
      text-align: center;

      @media only screen and (min-width: 0) and (max-width: 767px) {
        font-size: 20px;
        line-height: 28px;
      }
    }

    &--list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 112px;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;

      @media only screen and (min-width: 0) and (max-width: 767px) {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 56px;
      }
    }
  }
}