@import "./../../../styles/variables.scss";

.Button {
  background-color: $button-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color;

  &:hover {
    background-color: rgba($button-bg, .8);
  }

  &.call {
    padding: 18px 32px;
    height: 64px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    @media only screen and (min-width: 0) and (max-width: 767px) {
      font-size: 18px;
      line-height: 26px;
      width: 100%;
    }
  }

  &.aboutBtn {
    height: 58px;
    width: 212px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    @media only screen and (min-width: 0) and (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &.payment {
    padding: 24px 32px;
  }
}